profiles {
    annotation {
        process.container = 'ghcr.io/ccmbioinfo/osmp-annotation:dev'
        singularity.enabled = true
        singularity.cacheDir = "$PWD"
        singularity.runOptions = "--bind /hpf/largeprojects/ccmbio/osmp"
    }
    liftover {
        process.container = 'ghcr.io/ccmbioinfo/osmp-annotation:v1'
        singularity.enabled = true
        singularity.cacheDir = "$PWD"
        singularity.runOptions = "--bind /hpf/largeprojects/ccmbio/osmp"
    }
}
